username=sujalbarnwal9603_db_user
password=DvzCduzlIsRCtGMz
MONGODB_URI=mongodb+srv://sujalbarnwal9603_db_user:DvzCduzlIsRCtGMz@cluster0.frkdakq.mongodb.net/?appName=Cluster0
PORT=8000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=supersecretjwtkey